<!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script-->
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/2.2.4/jquery.min.js"></script>
<!--script src="https://unpkg.com/feather-icons"></script-->
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/feather-icons/4.28.0/feather.min.js"></script>
<script src="{{ "js/fresh.js" | absURL }}"></script>
<script src="{{ "js/jquery.panelslider.min.js" | absURL }}"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script-->
<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/modernizr/2010.07.06dev/modernizr.min.js"></script>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?71cfe727319cf99bbe021890cedfd229";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
